/* typography */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h3 {
    margin: 0;
}

p{
    margin: 0;
}

/* images */

.site-img {
    width: 100px;
}

.prof-pic {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
}




/* layout */

.container {
    width: 570px;
    margin: 0 auto;
}

.site-profile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #cfcfcf;
}

.profile-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
   
}

.name-location {
    padding: 2px 20px 0 0;
}
